.project
.settings/
.vscode/
.idea
.travis.yml
.gradle/
.DS_Store
build/
out/
utils/.settings
utils/.idea
utils/build
utils/.project
utils/bin
utils/utils.iml
utils/out/
utils/spark-warehouse
utils/.classpath
utils/derby.log
utils/metastore_db
bash.exe.stackdump

